{% extends "base.html" %}
{% block head_title %}Login{% endblock %}

{% block content %}
<div class="cart-box-main">
    <div class="container">
        <div class="row new-account-login">
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="title-left">
                    <h2 class="section-headline">Login</h2>
                </div>
                <form class="mt-3  review-form-box" action="" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        {% csrf_token %}
                        {{ form.as_p }}
                        </div>
                    </div>

                    <button class="btn hvr-hover" id="submit" type="submit">Sign In</button>
                    <a  href="{% url 'signup' %}" >don't have account?</a>
                    <a href="{% url 'password_reset' %}">reset your password?</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}