{% extends "base.html" %}
{% block head_title %}Confirm Reset{% endblock %}

{% block content %}
<div class="cart-box-main">
    <div class="container">
        <div class="row new-account-login">
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="title-left">
                <h2 class="section-headline">Reset Password</h2>
                </div>
                <form mt-3  review-form-box action="" method="post" ">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button class="btn hvr-hover" type="submit">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}