{% extends 'base.html' %}

{% block head-title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}
<section class="form-section">
  <h2 class="section-headline">Set a new password!</h2>
  <p class="section-description">
      Please fill in your new password.
  </p>
  <div class="form">
      <form action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <p>
              <button type="submit">Reset</button>
          </p>
      </form>
  </div>
</section>
{% endif %}
{% endblock %}